<form #metaForm="ngForm" class="manager-form">
  <div>
    <button (click)="expanded = !expanded">Expand</button>
    <ng-container *ngFor="let key of objectKeys(nodeState)">
      <mat-form-field *ngIf="expanded || metaKeys.includes(key)">
          <input [name]="key" matInput type="text" placeholder="{{key}}" [(ngModel)]="nodeState[key]">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="nodeState[key]=''">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
    </ng-container>
  </div>
</form>
<div class="manager">
  <div>
    <div *ngIf="isUpdating">
      <em>Updating meta...</em>
    </div>
    <div *ngIf="isBuilding">
      <em>Building new plot...</em>
    </div>
    <button [disabled]="!node" (click)="saveMeta()">Save</button>
    <button [disabled]="!node" (click)="buildPlot()">Build</button>
    <button [disabled]="!node" (click)="confirmPlot()">Confirm</button>
  </div>
  <div>
    <div *ngIf="plots.index.types" class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
      <label *ngFor="let type of plots.index.types" ngbButtonLabel class="btn-primary">
        <input #btn ngbButton type="radio" [disabled]="!node?.hasType.includes(type)"
          (click)="selectPlotType(type)"
        >
        {{type | miniCaption}}
      </label>
    </div>
  </div>
</div>
