<div class="container" style="height: 100%;">
  <div class="row" style="height: 100%;">
    <div class="col-md-3" style="height: 100%; overflow-y: scroll;">
      <app-manage-plot (plotSelect)="onPlotSelect($event)" (nodeChange)="applyTreeFilters()" [node]="activeNode"></app-manage-plot>
      <small (click)="filtersCollapsed = !filtersCollapsed">+ Filters</small>
      <div [ngbCollapse]="filtersCollapsed">
        <mat-form-field>
          <input [formControl]="nodeSearch"
          type="text" placeholder="Trace name" aria-label="Number"
          (click)="nodeSearch.setValue('')"
          appRefreshMaterial
          matInput [matAutocomplete]="auto"
          >
          <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
            <mat-option *ngFor="let node of acNodes | async" [value]="node.name">
              {{node.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <h6>Grade</h6>
        <div *ngFor="let grade of grades">
          <mat-checkbox (change)="toggleFilter(filterGrades, grade)" [checked]="filterGrades[grade]">{{grade}}</mat-checkbox>
        </div>
        <h6>Curation</h6>
        <div *ngFor="let step of steps">
          <mat-checkbox (change)="toggleFilter(filterSteps, step)" [checked]="filterSteps[step]">{{step}}</mat-checkbox>
        </div>
      </div>
      <div class="section">
        <small *ngIf="fp.index.meta">{{this.treeFiltered.length}}/{{this.oVal(this.fp.index.meta).length}}</small>
        <app-tree (plotSelect)="onPlotSelect($event)" [nodes]="treeFiltered"></app-tree>
      </div>
    </div>
    <div #plotCol class="col-md-9" (resized)="onResize($event)" style="height: 100%;">
      <app-trace-plot [plot]="activePlot" [fetching]="fp.isFetching"></app-trace-plot>
    </div>
  </div>
</div>
