<ng-container *ngIf="!plot">
  <app-loader *ngIf="fetching" message="Fetching data..."> </app-loader>
  <div *ngIf="!fetching">
    <span>
      No data to display
    </span>
  </div>
</ng-container>
<ng-container *ngIf="plot">
  <plotly-plot [data]="plot.data" [layout]="plot.layout"></plotly-plot>
</ng-container>
